<div class="popup__module">
    <ng-form class="popup__form" ng-show="!vm.isUpdated">
        <div class="popup__header">
            <p class="popup__banner">Reset Password</p>
            <i class="icon icon-close popup__close-icon" ng-click="vm.close()"></i>
        </div>
        <div class="popup__body">
            <div class="input-block input-block--light popup__row"
                 ng-class="{'input-block--error': vm.isShowError && vm.model.password !== vm.model.confirmPassword}">
                <div class="input-block__title input-block__title--big">Password</div>
                <div class="input-block__field popup__input-field">
                    <input placeholder="••••••••••••••••" class="input-block__input"
                           type="password" ng-model="vm.model.password"/>
                </div>
            </div>

            <div class="input-block input-block--light popup__row"
                 ng-class="{'input-block--error': vm.isShowError && vm.model.password !== vm.model.confirmPassword}">
                <div class="input-block__title input-block__title--big">Re-type Password</div>
                <div class="input-block__field popup__input-field">
                    <input placeholder="••••••••••••••••" class="input-block__input"
                           type="password" ng-model="vm.model.confirmPassword"/>
                </div>
                <p class="input-block__error-message">Passwords must match.</p>
            </div>

            <div class="popup__btn-container">
                <button class="btn btn--blue popup__btn sign-up__btn" ng-click="vm.reset()">Reset Password</button>
            </div>
        </div>
    </ng-form>

    <!--<div class="popup__form" ng-show="vm.isUpdated">-->
        <!--<div class="popup__header">-->
            <!--<p class="popup__banner">Email Verification Sent</p>-->
            <!--<i class="icon icon-close popup__close-icon" ng-click="vm.close()"></i>-->
        <!--</div>-->
        <!--<div class="popup__body">-->
            <!--<p class="popup__text">-->
                <!--An account email verification has been sent.  Follow the directions in the email to finish creating your account.-->
            <!--</p>-->

            <!--<div class="popup__btn-container sign-up__manage-row">-->
                <!--<button class="btn btn&#45;&#45;blue popup__btn sign-up__btn" ng-click="vm.close()">Dismiss</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>