<div class="form__body order-book__body" style="min-height: 240px;">
        <div class="order-book__order-form-container" style="width:50%; border-right:1px solid #151d2b">
          <div id="order_book" class="panel panel-default">
              <div class="panel-body panel-body-head">
                  <div id="order_book_header">
                  <div class="form__column-container order-book__column-container">
                      <div class="form__column order-book__column">Amount</div>
                      <div class="form__column order-book__column">BID</div>
                  </div>
                  <!-- <div class="col-xs-12">
                      <div class="table form__column-container order-book__column-container">

                          <div class="amount form__column order-book__column">
                              Amount
                          </div>
                          <div class="volume form__column order-book__column">
                              Volume
                          </div>
                          <div class="price form__column order-book__column">
                              BID
                          </div>

                      </div>
                  </div> -->

                  </div>
              </div>
              <div class="panel-body panel-body-content">
                  <div id="order_book_body" class="row">
                  
                    <div class="col-xs-12">
                        <table class="table table-hover bids" style="width:100%;border-spacing:0px;"></table>
                    </div>
                    <div class="col-xs-12">
                        
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="order-book__order-form-container" style="width:50%; border-right:1px solid #151d2b">
          <div id="order_book" class="panel panel-default">
              <div class="panel-body panel-body-head">
                  <div id="order_book_header">
                  <div class="form__column-container order-book__column-container">
                      <div class="form__column order-book__column">ASK</div>
                      <div class="form__column order-book__column">Amount</div>
                  </div>
                  <!-- <div class="col-xs-12">
                      <div class="table form__column-container order-book__column-container">

                          <div class="amount form__column order-book__column">
                              Amount
                          </div>
                          <div class="volume form__column order-book__column">
                              Volume
                          </div>
                          <div class="price form__column order-book__column">
                              BID
                          </div>

                      </div>
                  </div> -->

                  </div>
              </div>
              <div class="panel-body panel-body-content">
                  <div id="order_book_body" class="row">
                  
                    <div class="col-xs-12">
                        <table class="table table-hover asks" style="width:100%;border-spacing:0px;"></table>
                    </div>
                    <div class="col-xs-12">
                        
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>